.container{
    width: 100%;
}

.top{
    float: left;
    width: 100%;
    height: 50px;
    background-color: #428bca;
}

.center{
    float: left;
    width: 100%;
    height: 580px;
    background-color: white;
}

.bottom{
    float: left;
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.bottomSpan{
    width: 180px;
    height: 30px;
    margin-top: 10px;
    margin-left: 15px;
}