.container{
    position: relative;
    width: 100%;
    height: 100%;
}

.center{
    position: relative;
    width: 100%;
    height: 580px;
    overflow: auto;
}

.bottom{
    position: relative;
    width: 100%;
    height: 90px;
    overflow: hidden;
}

.chartCard{
    position: absolute;
    left: 3%;
    width: 94%;
    height: 130px;
    -webkit-box-shadow:3px 3px 3px 3px gray;;
    -moz-box-shadow:3px 3px 3px 3px gray;;
    box-shadow:3px 3px 3px 3px gray;
    overflow: hidden;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lineContent{
    position: absolute;
    top: 60px;
    left: 3%;
    width: 94%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lineContentBox{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
}


