.container{
    width: 100%;
    height: 100%;
}

.top{
    float: left;
    width: 100%;
    height: 50px;
    background-color: #428bca;
}

.center{
    float: left;
    width: 100%;
    height: calc(100% - 100px);
}

.map{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.loading{
    position: absolute;
    left: calc((100% - 400px) / 2);
    width: 380px;
    top: 20%;
    height: 400px;
    background-color: white;
}

.loading_top{
    float: left;
    width: 100%;
    height: 40px;
    color: black;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    background-color: #3576BE;
    color: white;
}

.loading_switch{
    float: left;
    margin-top: 5px;
    width: 100%;
    height: 35px;
}

.loading_center{
    float: left;
    width: 100%;
    height: 220px;
}

.loading_bottom{
    float: left;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.showListBtn{
    position: absolute;
    left: 0;
    top: 40%;
    width: 15px;
    height: 60px;
    background-color: black;
    opacity: 0.8;
    z-index: 2;
    overflow: auto;
    color: white;
    text-align: center;
    font-weight: bolder;
    line-height: 60px;
    font-size: 16px;
    cursor: pointer;
}
.showList{
    position: absolute;
    left: 0;
    top: 5%;
    width: 300px;
    height: 90%;
    background-color: black;
    opacity: 0.8;
    z-index: 2;
    overflow: auto;
}

.infoWindow{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 200px;
    height: 170px;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.showList_close{
    float: right;
    width: 30px;
    height: 20px;
    right: 20px;
    color: white;
    font-weight: 700;
    cursor: pointer;

}

.showList_item{
    float: left;
    margin-top: 10px;
    margin-left: 4%;
    width: 92%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    cursor: pointer;
}

.showList_item_left{
    width: 50px;
    height: 50px;
}

.showList_item_right{
    margin-left: 5px;
    margin-top: 8px;
    width: 250px;
    height: 40px;
    color: white;
    font-size: 7px;
    font-weight: bold;
    cursor: pointer;
}

.bottom{
    float: left;
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottomContent{
    float: right;
    margin-top: 5px;
    height: 40px;
}

.bottomContentSpan{
    float: left;
    margin-right: 10px;
    width: calc(100% - 10px);
    height: 100%;
}

.bottomContentSpan label{
    margin-left: 10px;
}

